<h1 class="title is-4">All Products</h1>

<div class="columns">
  <div class="column is-one-fifth mr-5" style="border-right: 1px gray dashed">
    <form action="aa">
      <input type="text">
    </form>
  </div>

  <div class="column">
    <div class="columns is-multiline">
      <%= render partial: "common/product_card",
              collection: @products,
              as: :product,
              locals: {size: "is-one-quarter"}%>
    </div>
  </div>
</div>
