<div class="is-flex pb-5" style="border-bottom:1px dashed grey; justify-content:space-between">
    <div>
      <p class=""><%= address.address_string%></p>
      <p class="">Phone: <%= address.phone%></p>
    </div>
    <div>
      <a href="" class="button is-warning">Edit</a>
    </div>
</div>