<div class="column <%= size %>">
  <a href="/products/<%= product.id  %>">
  <div class="card">
    <div class="card-image is-centered">
      <%= image_tag product.image.variant(resize: "200x300!").processed %>
    </div>
    <div class="card-content">
      <div class="container">
        <p class="subtitle is-5"><%= product.name %></p>
      </div>
    </div>
  </div>
</div>
</a>